<div class="wraper">
  <h1 class="title">
    {{title}}
  </h1>

  <mat-divider></mat-divider>

  <mat-form-field class="filter-chips">

      <mat-chip-list #chipList aria-label="Type selection">
        <mat-chip
            *ngFor="let type of types"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(type)">
            {{type}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
  
        <input
          placeholder="Seect pokemon type"
          #typeInput
          [formControl]="typeCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
  
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let type of filteredTypes | async" [value]="type">
          {{type}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>

  <mat-divider></mat-divider>

  <div class="content-container">
    <div class="list">

      <mat-card 
        class="pokemon-card"
        appMaterialElevation
        *ngFor="let pokemon of pokemons"
        (click)="getInfo(pokemon.id)">

        <div class="pokemon-img">
          <img mat-card-image [src]="pokemon.sprites.front_default" alt="Pokemon front image">
        </div>

        <mat-card-header>
          <mat-card-title>{{pokemon.name | titlecase}}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="pokemon-types">
          <p *ngFor="let type of pokemon.types" class="pokemon-type" [ngClass]="type.type.name">{{type.type.name}}</p>
        </mat-card-content>

      </mat-card>

    </div>

    <div class="info" >

      <mat-card class="pokemon-info-card" appMaterialElevation *ngIf="pokemonInfo">
        <div>
          <div class="pokemon-info-img">
            <img mat-card-image [src]="pokemonInfo.img_url" alt="Pokemon front image">
          </div>
          
          <mat-card-header>
            <mat-card-title>{{pokemonInfo.name | titlecase}} #{{pokemonInfo.id | threeCharacter}}</mat-card-title>
          </mat-card-header>
        </div>

        <mat-card-content class="pokemon-desc">

          <div class="info-cell"><p>Type</p></div>
          <div class="info-cell">
            <p *ngFor="let typeName of pokemonInfo.types">{{typeName.type.name}}</p>
          </div>

          <div class="info-cell"><p>Attack</p></div>
          <div class="info-cell"><p>{{pokemonInfo.attack}}</p></div>

          <div class="info-cell"><p>Defense</p></div>
          <div class="info-cell"><p>{{pokemonInfo.defense}}</p></div>

          <div class="info-cell"><p>HP</p></div>
          <div class="info-cell"><p>{{pokemonInfo.hp}}</p></div>

          <div class="info-cell"><p>SP Attack</p></div>
          <div class="info-cell"><p>{{pokemonInfo.spAttack}}</p></div>

          <div class="info-cell"><p>SP Defense</p></div>
          <div class="info-cell"><p>{{pokemonInfo.spDefense}}</p></div>

          <div class="info-cell"><p>Speed</p></div>
          <div class="info-cell"><p>{{pokemonInfo.speed}}</p></div>

          <div class="info-cell"><p>Weight</p></div>
          <div class="info-cell"><p>{{pokemonInfo.weight}}</p></div>

          <div class="info-cell"><p>Total moves</p></div>
          <div class="info-cell"><p>{{pokemonInfo.moves}}</p></div>

        </mat-card-content>  
        
      </mat-card>

    </div>

    <button mat-flat-button color="primary" (click)="loadMore()">Load More</button>

  </div>

</div>